.card-title {
  font-size: 1.25rem;
  color: #252424;
  font-weight: 700;
}
.card-title:hover {
  color: #0ea5e9;
  transition: .3s;
}

.card {
  border: 1px solid #eaeaea;
}

.text-decoration:hover {
  text-decoration: underline;
  transition: 3s;
}
.disabled {
  font-size: 13px;
}
.btn-outline-info:hover {
  background-color: rgba(194, 193, 193, 0.089);
  color: #0ea5e9;
  transition: .3s;
}
.btn-info {
  color: white;
}
.btn-info:hover {
  color: white;
  background-color: #0369a1;
  border: 1px solid #0369a1;
  transition: .3s;
}

.pricing-tag {
  position: absolute;
  left: 80%;
  bottom: 90%;
  font-size: 16px;
}

/* tippy theme customize */
#my-tooltip[data-theme~="light"] {
  font-size: 0.5rem;
  font-family: monospace;
  background-color: grey;
}
