.card-container {
  width: 62%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filter-section {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.filter {
  position: relative;
  left: 75%;
}
.sort {
  position: relative;
  right: 95%;
}

/* .projects-filter-nav {
  width: 50%;
  margin: 0 auto;
} */
.filter-button {
  border: 1px solid gainsboro;
  border-radius: 15px;
  font-family: monospace;
  font-size: 13px;
  color: black;
  padding: 3px 15px;
  text-decoration: none;
  margin-right: 15px;
  background-color: white;
}
.filter-button:hover {
  border: 1px solid palegoldenrod;
  background-color: rgb(245, 242, 242);
}
